<li class="burgerlist flow-text">
	{{burger_name}}
	{{#unless devoured}}
	<br>
	<button class="devbutton red waves-effect waves-light btn left-align" data-id="{{id}}">Eat It</button>
	{{/unless}}
	{{#if devoured}}
	<br>
	<button class="delbutton red waves-effect waves-light btn left-align" data-id="{{id}}">Delete It</button>
	{{/if}}
</li>